<div class="media media-v2 margin-bottom-20">
    <a class="pull-left" href="#">
        <%= image_tag board.user.avatar.url, class: "media-object rounded-x" %>
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            <strong><a><%= board.user.uid %></a></strong> @<%= board.user.phone %>
            <small><%= time_ago_in_words(board.created_at) %> ago</small>
        </h4>
        <p><%= board.title %></p>
        <ul class="list-inline results-list pull-left">
            <li>
                <a class="tooltips" data-toggle="tooltip" data-original-title="<%= board.like_members.limit(3).map(&:realname).join(', ') %><%= ' 외 '+ (board.likes.count - 3).to_s + '명' if board.likes.count > 3 %>" id="likes_count_<%= board.id %>"><%= board.likes.count %> Likes</a>
            </li>
            <li><a href="#">0 Share</a></li>
        </ul>
        <ul class="list-inline pull-right">
            <li id="likes_<%= board.id %>">
                <% if current_user.like?(board) %>
                    <%= render 'unlike', board: board %>
                <% else %>
                    <%= render 'like', board: board %>
                <% end %>
            </li>
            <% if board.deletable_by? current_user %>
                <li>
                    <%= link_to '<i class="expand-list rounded-x fa fa-trash"></i>'.html_safe, "/#{board.board_type.name}/#{board.id}", method: :delete, data: { confirm: "정말 삭제 하시겠습니까?" } %>
                </li>
            <% end %>
        </ul>

        <div class="clearfix"></div>
    </div>    
</div>