<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left"><%= @type.realname %></h1>
        <!--
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Blog</a></li>
            <li class="active">Blog Item 2</li>
        </ul>
        -->
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container content profile">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments"></i>Users Comments</h2>
                        <!--<a href="#"><i class="fa fa-cog pull-right"></i></a>-->
                    </div>

                    <div class="panel-body margin-bottom-50">

                        <%= form_for @board, url: url_for(controller: controller.controller_name, action: 'create'), html: {class: "sky-form"} do |f| %>
                        <div class="media media-v2" style="border-bottom:1px solid #eee; border-top:none;">
                            <a class="pull-left" href="#">
                                <%= image_tag current_user.avatar.url, class: "media-object rounded-x" %>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <strong><a href="#"><%= current_user.uid %></a></strong> @EvaNelson
                                </h4>
                                <p>
                                    <%= f.text_field :title, class: "form-control"  %>
                                </p>  
                                <ul class="list-inline pull-right">
                                    <%= f.submit 'Submit', class: "btn-u" %>
                                </ul>
                            </div>
                        </div>
                        <% end %>

                        <div id="oneline_body">
                            <%= render partial: 'oneline', collection: @boards, as: :board %>
                        </div>
                        <%= link_to "Load More", { controller: controller.controller_name, action: "index", page: @page+1 }, class: "btn-u btn-u-default btn-block", remote: true, id: "oneline_loadmore", style: "color: #fff;" unless @page.equal?(@page_max) %>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>