<div id="comments_<%= comment.id %>_parent">
    <!-- Blog Comments -->
    <div class="row blog-comments margin-bottom-30" id="comments_<%= comment.id %>">
        <div class="col-sm-2 sm-margin-bottom-40">
            <% if comment.user.present? %>
            <%= image_tag comment.user.avatar.url, class: "rounded-x", style: "padding:2px; border:solid 1px #ccc;height:80px;width:80px;" %>
            <% else %>
            <%= image_tag "bootstrap/user.jpg", class: "rounded-x", style: "padding:2px; border:solid 1px #ccc;height:80px;width:80px;" %>
            <% end %>
        </div>
        <div class="col-sm-10">
            <div class="comments-itself">
                <h4>
                    <%= comment.user.present? ? comment.user.uid : "탈퇴회원" %>
                    <span><%= time_ago_in_words(comment.created_at) %> ago / <a href="javascript:{};" onclick="reply_new(<%= comment.id %>);">Reply</a></span>
                </h4>
                <p><%= comment.contents %></p>
            </div>
        </div>
    </div>
    <!-- End Blog Comments -->

    <!-- 댓글의 댓글 index -->
    <% comment.replys.each do |reply| %>
        <div class="row blog-comments blog-comments-reply margin-bottom-30" id="comments_<%= reply.id %>">
            <div class="col-sm-2 sm-margin-bottom-40">
                <% if reply.user.present? %>
                <%= image_tag reply.user.avatar.url, class: "rounded-x", style: "padding:2px; border:solid 1px #ccc;height:80px;width:80px;" %>
                <% else %>
                <%= image_tag "bootstrap/user.jpg", class: "rounded-x", style: "padding:2px; border:solid 1px #ccc;height:80px;width:80px;" %>
                <% end %>
            </div>
            <div class="col-sm-10">
                <div class="comments-itself">
                    <h4>
                        <%= reply.user.present? ? reply.user.uid : "탈퇴회원" %>
                        <span><%= time_ago_in_words(reply.created_at) %> ago</span>
                    </h4>
                    <p><%= reply.contents %></p>
                </div>
            </div>
        </div>
    <% end %>
    <!-- End 댓글의 댓글 index -->
</div>