<!-- 댓글의 댓글 작성 후 append 페이지 -->
<div class="row blog-comments blog-comments-reply margin-bottom-30" id="comments_<%= comment.id %>">
    <div class="col-sm-2 sm-margin-bottom-40">
        <%= image_tag comment.user.avatar.url, class: "rounded-x", style: "padding:2px; border:solid 1px #ccc;" %>
    </div>
    <div class="col-sm-10">
        <div class="comments-itself">
            <h4>
                <%= comment.user.uid %>
                <span><%= time_ago_in_words(comment.created_at) %> ago</span>
            </h4>
            <p><%= comment.contents %></p>
        </div>
    </div>
</div>