<%= stylesheet_link_tag "bootstrap/fullcalendar/fullcalendar.css" %>
<%= stylesheet_link_tag "bootstrap/fullcalendar/fullcalendar.print.css", media: 'print' %>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Calendar</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container">
	<div class="margin-bottom-50"></div>
	<div id="calendar"></div>
	<div class="margin-bottom-50"></div>
</div>

<% if current_user.operator? %>
<a class="create-board tooltips" data-toggle="tooltip" data-original-title="달력에서 해당 날짜의 공간을 클릭하시면 좀 더 편리하게 일정을 등록하실 수 있습니다." onclick="newEvent();"  style="z-index:1001;">
    <i class="icon-custom icon-lg rounded-x icon-bg-u glyphicon glyphicon-plus" style="line-height: 57px;font-size: 20px;"></i>
</a>
<% end %>

<!-- eventNew Modal -->
<div class="sky-form modal fade" id="eventNew" tabindex="-1" role="dialog" aria-labelledby="eventNew" aria-hidden="true">
	<%= form_tag "/calendar", method: :post, id: 'new_event_form' do %>
	<input id="event_form_method" type="hidden" name="_method" value="post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title" style="font-weight:bold">일정등록<em style="font-size:small; font-weight:normal;">(일정등록 시 모든 회원들이 알림을 받습니다.)</em></h4>
            </div>
            <div class="modal-body">
            	<div class="form-group">
	                <h4>* 제목:</h4>
	                <p><%= text_field_tag 'event[title]', '',class: 'form-control', maxlength: "255" %><em id="title_required" style='font-style: normal;font-size: 11px;line-height: 15px;color: #ee9393; display:none;'>This is a required field.</em></p>

	            </div>

	            <div class="form-group">
	                <h4>* 일시:</h4>
	                <div class="row">
	                	<div class="col-lg-4" id="sandbox-container"><%= text_field_tag 'event[start_day]', '', class: 'form-control', maxlength: "255" %>
	                		<em id="start_day_required" style='font-style: normal;font-size: 11px;line-height: 15px;color: #ee9393; display:none;'>This is a required field.</em>
	                	</div>
	                	<div class="col-lg-4">
	                		<section>
	                			<label class="select">
			                		<select name="event[start_time]" id="event_start_time" style="border-color:#ccc;">
										<option value="12:00">오전 12:00</option>
										<option value="12:30">오전 12:30</option>
										<option value="01:00">오전 01:00</option>
										<option value="01:30">오전 01:30</option>
										<option value="02:00">오전 02:00</option>
										<option value="02:30">오전 02:30</option>
										<option value="03:00">오전 03:00</option>
										<option value="03:30">오전 03:30</option>
										<option value="04:00">오전 04:00</option>
										<option value="04:30">오전 04:30</option>
										<option value="05:00">오전 05:00</option>
										<option value="05:30">오전 05:30</option>
										<option value="06:00">오전 06:00</option>
										<option value="06:30">오전 06:30</option>
										<option value="07:00">오전 07:00</option>
										<option value="07:30">오전 07:30</option>
										<option value="08:00">오전 08:00</option>
										<option value="08:30">오전 08:30</option>
										<option value="09:00">오전 09:00</option>
										<option value="09:30">오전 09:30</option>
										<option value="10:00">오전 10:00</option>
										<option value="10:30">오전 10:30</option>
										<option value="11:00">오전 11:00</option>
										<option value="11:30">오전 11:30</option>
										<option value="12:00">오후 12:00</option>
										<option value="12:30">오후 12:30</option>
										<option value="13:00">오후 01:00</option>
										<option value="13:30">오후 01:30</option>
										<option value="14:00">오후 02:00</option>
										<option value="14:30">오후 02:30</option>
										<option value="15:00">오후 03:00</option>
										<option value="15:30">오후 03:30</option>
										<option value="16:00">오후 04:00</option>
										<option value="16:30">오후 04:30</option>
										<option value="17:00">오후 05:00</option>
										<option value="17:30">오후 05:30</option>
										<option value="18:00">오후 06:00</option>
										<option value="18:30">오후 06:30</option>
										<option value="19:00">오후 07:00</option>
										<option value="19:30">오후 07:30</option>
										<option value="20:00">오후 08:00</option>
										<option value="20:30">오후 08:30</option>
										<option value="21:00">오후 09:00</option>
										<option value="21:30">오후 09:30</option>
										<option value="22:00">오후 10:00</option>
										<option value="22:30">오후 10:30</option>
										<option value="23:00">오후 11:00</option>
										<option value="23:30">오후 11:30</option>
									</select>
									<i></i>
								</label>
							</section>
	                	</div>
	                	<section class="col col-3"><label class="toggle"><%= check_box_tag 'event[start_allday]', 'false', false,  onchange: "checkbox_handler1(this)" %><i class="rounded-4x"></i>종일</label></section>
	                </div>
	                <p style="text-align:center;">~</p>
	                <div class="row">
	                	<div class="col-lg-4" id="sandbox-container2"><%= text_field_tag 'event[end_day]', '', class: 'form-control', maxlength: "255" %>
	                		<em id="end_day_required" style='font-style: normal;font-size: 11px;line-height: 15px;color: #ee9393; display:none;'>This is a required field.</em>
	                	</div>
	                	<div class="col-lg-4">
	                		<section>
	                			<label class="select">
			                		<select name="event[end_time]" id="event_end_time" style="border-color:#ccc;">
										<option value="12:00">오전 12:00</option>
										<option value="12:30">오전 12:30</option>
										<option value="01:00">오전 01:00</option>
										<option value="01:30">오전 01:30</option>
										<option value="02:00">오전 02:00</option>
										<option value="02:30">오전 02:30</option>
										<option value="03:00">오전 03:00</option>
										<option value="03:30">오전 03:30</option>
										<option value="04:00">오전 04:00</option>
										<option value="04:30">오전 04:30</option>
										<option value="05:00">오전 05:00</option>
										<option value="05:30">오전 05:30</option>
										<option value="06:00">오전 06:00</option>
										<option value="06:30">오전 06:30</option>
										<option value="07:00">오전 07:00</option>
										<option value="07:30">오전 07:30</option>
										<option value="08:00">오전 08:00</option>
										<option value="08:30">오전 08:30</option>
										<option value="09:00">오전 09:00</option>
										<option value="09:30">오전 09:30</option>
										<option value="10:00">오전 10:00</option>
										<option value="10:30">오전 10:30</option>
										<option value="11:00">오전 11:00</option>
										<option value="11:30">오전 11:30</option>
										<option value="12:00">오후 12:00</option>
										<option value="12:30">오후 12:30</option>
										<option value="13:00">오후 01:00</option>
										<option value="13:30">오후 01:30</option>
										<option value="14:00">오후 02:00</option>
										<option value="14:30">오후 02:30</option>
										<option value="15:00">오후 03:00</option>
										<option value="15:30">오후 03:30</option>
										<option value="16:00">오후 04:00</option>
										<option value="16:30">오후 04:30</option>
										<option value="17:00">오후 05:00</option>
										<option value="17:30">오후 05:30</option>
										<option value="18:00">오후 06:00</option>
										<option value="18:30">오후 06:30</option>
										<option value="19:00">오후 07:00</option>
										<option value="19:30">오후 07:30</option>
										<option value="20:00">오후 08:00</option>
										<option value="20:30">오후 08:30</option>
										<option value="21:00">오후 09:00</option>
										<option value="21:30">오후 09:30</option>
										<option value="22:00">오후 10:00</option>
										<option value="22:30">오후 10:30</option>
										<option value="23:00">오후 11:00</option>
										<option value="23:30">오후 11:30</option>
									</select>
									<i></i>
								</label>
							</section>
	                	</div>
	                	<section class="col col-3"><label class="toggle"><%= check_box_tag 'event[end_allday]', 'false', false,  onchange: "checkbox_handler2(this)" %><i class="rounded-4x"></i>종일</label></section>
	                </div>
	            </div>

	            <div class="form-group">
	                <h4>장소:</h4>
	                <p><%= text_field_tag 'event[location]', '', class: 'form-control', maxlength: "255" %></p>
	            </div>

	            <div class="form-group">
	                <h4>설명:</h4>
	                <p><%= text_area_tag 'event[description]', '', class: 'form-control', maxlength: "65535", rows: 7 %></p>
	            </div>
            </div>
            <div class="modal-footer">
            	<input type="hidden" id="event_form_id" value=""></input>
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
                <button id="btn_modal_event" class="btn-u" type="button" onclick="new_event_submit(event);">Save</button>
            </div>
          </div>
    </div>
    <% end %>
</div>
<!-- end -->

<!-- eventShow Modal -->
<div class="modal fade" id="eventShow" tabindex="-1" role="dialog" aria-labelledby="eventShowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="eventShowTitle" class="modal-title" style="font-weight:bold"></h4>
            </div>
            <div class="modal-body">
                <h4 id="eventShowDate"></h4>
                <h4 id="eventShowLoc"></h4>
                <h4 id="eventShowDes"></h4>
            </div>
            <div class="modal-footer">
            	<input type="hidden" id="event_show_id" value=""></input>
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
                <% if current_user.operator? %>
                	<button class="btn-u btn-u-red" type="button" onclick="destroy_event();">Delete</button>
                	<button class="btn-u" type="button" onclick="edit_event();">Edit</button>
                <% end %>
            </div>
          </div>
    </div>
</div>
<!-- end -->



<script type="text/javascript">
	function getToday() {
		var today = new Date();
	    var dd = today.getDate();
	    var mm = today.getMonth()+1; //January is 0!

	    var yyyy = today.getFullYear();
	    if(dd<10){
	        dd='0'+dd
	    } 
	    if(mm<10){
	        mm='0'+mm
	    } 
	    var today = yyyy+'-'+mm+'-'+dd;
	    return today;
	};

	function newEvent() {
		modal_init();
		$('#eventNew').modal('show');
		$('#sandbox-container input').val(getToday());
    	$('#sandbox-container2 input').val(getToday());
	};

	function checkbox_handler1(element) {
		element.checked ? $(element).val('true') : $(element).val('false');
		if (element.checked) {
			$('#event_start_time').attr('disabled', 'disabled');
			$('#event_start_time').css('cursor', 'not-allowed');
			$('#event_start_time').css('background-color', '#eee');
		}
		else {
			$('#event_start_time').removeAttr('disabled');
			$('#event_start_time').css('cursor', 'default');
			$('#event_start_time').css('background-color', '#fff');
		}
	};

	function checkbox_handler2(element) {
		element.checked ? $(element).val('true') : $(element).val('false');
		if (element.checked) {
			$('#event_end_time').attr('disabled', 'disabled');
			$('#event_end_time').css('cursor', 'not-allowed');
			$('#event_end_time').css('background-color', '#eee');
		}
		else {
			$('#event_end_time').removeAttr('disabled');
			$('#event_end_time').css('cursor', 'default');
			$('#event_end_time').css('background-color', '#fff');
		}
	};

	function new_event_submit(event) {
		if( (!$('#event_title').val()) || (!$('#event_start_day').val()) || (!$('#event_end_day').val()) ) {
				event.preventDefault();
			if ( !$('#event_title').val() ) {
				$('#event_title').css('background-color', '#fff0f0');
				$('#title_required').show();
			} else {
				$('#event_title').css('background-color', '#fff');
				$('#title_required').css('display', 'none');
			}

			if ( !$('#event_start_day').val() ) {
				$('#event_start_day').css('background-color', '#fff0f0');
				$('#start_day_required').show();
			} else {
				$('#event_start_day').css('background-color', '#fff');
				$('#start_day_required').css('display', 'none');
			}

			if ( !$('#event_end_day').val() ) {
				$('#event_end_day').css('background-color', '#fff0f0');
				$('#end_day_required').show();
			} else {
				$('#event_end_day').css('background-color', '#fff');
				$('#end_day_required').css('display', 'none');
			}

		} else {
			$('#new_event_form').submit();
		}
	};

	function update_event_submit(event) {
		var event_id = $('#event_form_id').val();
		$('#new_event_form').attr('action', '/calendar/' + event_id);
		$('#new_event_form').submit();
	};

	function modal_init() {
		$('#event_title').val('');
		$('#event_title').css('background-color', '#fff');
		$('#title_required').css('display', 'none');
		$('#event_start_day').css('background-color', '#fff');
		$('#event_start_day').val('');
		$('#start_day_required').css('display', 'none');
		$('#event_end_day').css('background-color', '#fff');
		$('#event_end_day').val('');
		$('#end_day_required').css('display', 'none');
		$('#event_start_allday').attr('checked', false);
		$('#event_end_allday').attr('checked', false);
		$('#event_location').val('');
		$('#event_description').val('');
		$('#event_start_time').removeAttr('disabled');
		$('#event_start_time').css('cursor', 'default');
		$('#event_start_time').css('background-color', '#fff');
		$('#event_start_time').val('12:00');
		$('#event_end_time').removeAttr('disabled');
		$('#event_end_time').css('cursor', 'default');
		$('#event_end_time').css('background-color', '#fff');
		$('#event_end_time').val('12:00');
		$('#btn_modal_event').text("Save");
		$('#btn_modal_event').attr('onclick', 'new_event_submit(event);');
		$('#event_form_method').val('post');
		$('#new_event_form').attr('action', '/calendar');
	};

	function destroy_event() {
		if (confirm("정말 삭제하시겠습니까??") == true){ 
			var event_id = $('#event_show_id').val();
			$.ajax({
		    	url: "/calendar/" + event_id,
		    	type: 'DELETE',
		    	dataType: 'script',
		    	data: {},
		    	success: function(data){}
		    });
		}
	};

	function edit_event() {
		modal_init();
		var event_id = $('#event_show_id').val();
		$('#eventShow').modal('hide');
		$('#eventNew').modal('show');
		$.ajax({
	    	url: "/calendar/" + event_id + "/edit",
	    	dataType: 'script',
	    	data: {},
	    	success: function(data){}
	    });
	};


    	$('#sandbox-container input').datepicker({
    		language: "ko",
    		format: "yyyy-mm-dd",
		    autoclose: true,
		    todayHighlight: true,
		    todayBtn: "linked"
    	});

    	$('#sandbox-container2 input').datepicker({
    		language: "ko",
    		format: "yyyy-mm-dd",
		    autoclose: true,
		    todayHighlight: true,
		    todayBtn: "linked"
    	});

		$('#calendar').fullCalendar({
			customButtons: {
				prev: {
		            icon: 'left-single-arrow',
		            click: function() {
		                $('#calendar').fullCalendar('prev');
					    var month = $('#calendar').fullCalendar( 'getDate' ).format("MM");
					    var year  = $('#calendar').fullCalendar( 'getDate' ).format("YYYY");
					    $.ajax({
					    	url: "/calendar",
					    	dataType: 'script',
					    	data: {
					    		"year"  : year,
					    		"month" : month
					    	},
					    	success: function(data){}
					    });
		            }
		        },
		        next: {
		            icon: 'right-single-arrow',
		            click: function() {
		                $('#calendar').fullCalendar('next');
					    var month = $('#calendar').fullCalendar( 'getDate' ).format("MM");
					    var year  = $('#calendar').fullCalendar( 'getDate' ).format("YYYY");
					    $.ajax({
					    	url: "/calendar",
					    	dataType: 'script',
					    	data: {
					    		"year"  : year,
					    		"month" : month
					    	},
					    	success: function(data){}
					    });
		            }
		        },
		        today: {
		        	text: 'today',
		        	click: function() {
		                $('#calendar').fullCalendar('today');
					    var month = moment().format("MM");
					    var year  = moment().format("YYYY");
					    $.ajax({
					    	url: "/calendar",
					    	dataType: 'script',
					    	data: {
					    		"year"  : year,
					    		"month" : month
					    	},
					    	success: function(data){}
					    });
		            }
		        }
		    },
			header: {
				left: 'prev,next today myCustomButton',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: '<%= @date %>',
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			events: [
				<% @events.each do |eventc| %>
					{
						id: <%= eventc.id %>,
						title: '<%= eventc.title %>',
						start: '<%= eventc.start_allday? ? eventc.start_day.strftime("%Y-%m-%d") : eventc.start_day.strftime("%Y-%m-%d")+"T"+eventc.start_time %>'
						<% unless (eventc.start_day == eventc.end_day) && eventc.start_allday %> ,
						end: '<%= eventc.end_allday? ? eventc.end_day.strftime("%Y-%m-%d") : eventc.end_day.strftime("%Y-%m-%d")+"T"+eventc.end_time %>'<% end %>,
						allDay: <%= eventc.start_allday? ? true : false %>
					}<% unless eventc == @events.last %>,<% end %>
				<% end %>
			],
			dayClick: function(date, jsEvent, view, resourceObj) {
				<% unless current_user.operator? %>
		    		return;
		    	<% end %>
		        var theday = date.format();
		        modal_init();
		        $('#eventNew').modal('show');
		        $('#sandbox-container input').val(theday);
		        $('#sandbox-container2 input').val(theday);
		    },
		    eventClick: function(calEvent, jsEvent, view) {
		        $.ajax({
			    	url: "/calendar/"+calEvent.id,
			    	dataType: 'script',
			    	data: {},
			    	success: function(data){$('#eventShow').modal('show');}
			    });
		    }

		});
</script>
