<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Admin Dashboard</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <!-- Begin Sidebar Menu -->
        <div class="col-md-3">
            <ul class="list-group sidebar-nav-v1" id="sidebar-nav">

                <!-- 멤버·스텝 -->
                <li class="list-group-item"><a href="<%= admin_membership_path %>">멤버·스텝</a></li>
                <!-- End 멤버·스텝 -->

                <!-- 멤버·스텝 -->
                <li class="list-group-item active"><a href="<%= admin_grades_path %>">등업신청</a></li>
                <!-- End 멤버·스텝 -->

                <!-- Maps -->                    
                <li class="list-group-item list-toggle">                   
                    <a class="accordion-toggle" href="#collapse-maps" data-toggle="collapse">Maps</a>
                    <ul id="collapse-maps" class="collapse">
                        <li>
                            <span class="badge badge-u">New</span>
                            <a href="shortcode_maps_google.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                        </li>
                        <li>
                            <span class="badge badge-u">New</span>                            
                            <a href="shortcode_maps_vector.html"><i class="fa fa-align-center"></i> Vector Maps</a>
                        </li>
                    </ul>
                </li>
                <!-- End Maps -->                    

                <!-- Charts -->
                <li class="list-group-item">
                    <span class="badge badge-u">New</span>                    
                    <a href="shortcode_compo_charts.html">Charts &amp; Countdowns</a>
                </li>
                <!-- End Charts -->
            </ul>
        </div>
        <!-- End Sidebar Menu -->

        <!-- Begin Content -->
        <div class="col-md-9">

            <div class="headline"><h2>등업신청 관리</h2></div>

            

            <form action="#" class="sky-form">
                <fieldset>                  
                    <div class="row">
                        <label class="label col col-2">멤버 검색</label>
                        <section class="col col-2">
                            <select class="form-control">
                                <option>ID</option>
                                <option>이름</option>
                            </select>
                        </section>
                        <section class="col col-6">
                            <label class="input">
                                <input type="text">
                            </label>
                        </section>
                        <section class="col col-2"><button type="submit" class="btn-u pull-right">Submit</button></section>
                    </div>
                </fieldset>
            </form>

            <div class="margin-bottom-40"></div>

            <%= form_tag "/admin/grades", method: :patch, class: "sky-form" do %>
                <fieldset>                  
                    <div class="row">
                        <label class="label col col-2">선택 멤버를</label>
                        <section class="col col-3">
                            <%= select_tag "grades[grade]", "<option value='associate_member'>준회원</option><option value='regular_member'>정회원</option><option value='honorary_member'>명예회원</option><option value='president'>회장</option><option value='vice_president'>부회장</option><option value='manager'>총무</option><option value='librian'>도서관리자</option><option value='admin'>서버관리자</option>".html_safe, class: "form-control" %>
                        </section>
                        <label class="label col col-1">(으)로</label>
                        <section class="col col-1"><%= submit_tag "변경", class: "btn-u" %></section>
                        <section class="col col-2"><%= submit_tag "강제 탈퇴", class: "btn-u btn-u-red" %></section>
                    </div>
                </fieldset>
            
                <!--Table Striped-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="checkbox"></th>
                            <th>IDX</th>
                            <th>ID</th>
                            <th>이름</th>
                            <th>제목</th>
                            <th>신청일</th>
                            <th>등급</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @boards.each do |board| %>
                            <tr>
                                <td><input type="checkbox" name="grades[member][]" value="<%= board.id %>"></td>
                                <td><%= board.id %></td>
                                <td><%= board.user.uid %></td>
                                <td><%= board.user.realname %></td>
                                <td><%= board.title %></td>
                                <td><%= board.created_at.strftime("%Y.%m.%-d") %></td>   
                                <td><%= user_roles(board.user) %></td>
                                <td><%= link_to '<i class="rounded-x fa fa-eye"></i>'.html_safe, grade_path(board) %></td>
                                <td><%= link_to '<i class="rounded-x fa fa-trash"></i>'.html_safe, "/#{board.board_type.name}/#{board.id}", method: :delete, data: { confirm: "정말 삭제 하시겠습니까?" } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <!--End Table Striped-->
            <% end %>
        </div>
        <!-- End Content -->
    </div>          
</div><!--/container-->     
<!--=== End Content Part ===-->