<!--=== Content Part ===-->
<div class="container content">     
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">
                <span class="error-v1-title">Empty</span>
                <span>검색 결과 없음!</span>
                <p>우측 하단의 글쓰기 버튼을 통해 새 프로젝트를 등록해 주세요.</p>
                <a class="btn-u btn-bordered" href="<%= root_path %>">Back Home</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div>  
<!--=== End Content Part ===-->

<!--=== FAQ Content ===-->
<div class="container content-sm">
    <div class="row equal-height-columns margin-bottom-40">
        <div class="col-sm-4 no-space">
            <div class="easy-block-v3 equal-height-column first">
                <i class="fa fa-headphones"></i>
                <div class="inner-faq-b">
                    <h3>Contact Us</h3>
                    <h4>010-****-****</h4>
                    <p>우측 하단의 문의입력란 혹은 이메일을 통해 CERT-IS 운영진 연락처를 문의해주세요.</p>
                </div>    
            </div>
        </div>    
        <div class="col-sm-4 no-space">
            <div class="easy-block-v3 equal-height-column second">
                <i class="icon-cursor"></i>
                <div class="inner-faq-b">
                    <h3>Email Us</h3>
                    <h4>contact@cert-is.kr</h4>
                    <p>우측 하단의 문의입력란 혹은 이메일을 통해 문의를 주시면 빠른 시일 내에 답변을 드리도록 하겠습니다.</p>
                </div>    
            </div>
        </div>    
        <div class="col-sm-4 no-space">
            <div class="easy-block-v3 equal-height-column third">
                <i class="icon-support"></i>
                <div class="inner-faq-b">
                    <h3>Support</h3>
                    <h4>Technical Support</h4>
                    <p>정회원은 REPORT 게시판을 활용해주세요. 준회원인 경우 문의입력란 혹은 이메일을 통해 제보해주세요.</p>
                </div>    
            </div>
        </div>    
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- Google Map -->
            <div id="map" class="map">
            </div>
            <!-- End Google Map -->
        </div>
        <div class="col-md-6 col-sm-6">
            <!-- Business Hours -->
            <h3>Get In Touch</h3>
            <ul class="list-inline">
                <li>이메일을 정확히 기입하셔야 답장을 드릴 수 있습니다. <br> 본인정보를 입력해주시면 더 정확히 도와드릴 수 있습니다.</li>
            </ul>

            <hr>

            <%= form_for Inquiry.new do |f| %>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <%= f.text_field :name, class: "form-control", placeholder: "Name", maxlength: "255" %>
                    </div>    
                </div>
                <div class="col-sm-6">
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <%= f.email_field :email, class: "form-control", placeholder: "Email", maxlength: "255" %>
                    </div>    
                </div>
            </div>    
            <%= f.text_area :content, class: "form-control margin-bottom-20", rows: "5", placeholder: "Type your question here...", maxlength: "1000" %>
            <button class="btn-u btn-u-sm pull-right" type="submit">Send question</button>
            <% end %>
        </div>
    </div>
</div><!--/container-->
<!--=== End FAQ Content ===-->