<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Projects</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<% if @projects.present? %>
<div class="container content profile">
    <div class="row">
        <!-- Project Content -->            
        <div class="col-md-12">
            <div class="profile-body">

                <% @projects.each_slice(2) do |projects| %>
                <!--Projects-->
                <div class="row">
                    <% projects.each do |project| %>
                    <div class="col-sm-6"> 
                        <div class="projects">
                            <h2><a class="color-dark" href="<%= project_path(project) %>"><%= project.title %></a></h2>
                            <ul class="list-unstyled list-inline blog-info-v2">
                                <li>By: <a class="color-green" href="<%= user_profile_index_path(project.master.uid) %>"><%= project.master.nickname %></a></li>
                                <li><i class="fa fa-clock-o"></i> <%= project.start_date.strftime("%Y.%m.%d") %></li>
                            </ul>
                            <p style="height:80px;"><%= truncate(project.description, length: 150) %></p>
                            <br>

                            <% completeness =  ((Time.zone.now - project.start_date) / (project.end_date - project.start_date) * 100).to_i %>
                            <h3 class="heading-xs">Project Completeness <span class="pull-right"><%= completeness %>%</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="<%= completeness %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= completeness %>%">
                                </div>
                            </div>
                            <ul class="list-inline blog-info-v2">
                                <li>
                                    <strong>12%</strong>
                                    <span>Funded</span>
                                </li>
                                <li>
                                    <strong>17%</strong>
                                    <span>Pludged</span>
                                </li>
                                <li>
                                    <strong>25</strong>
                                    <span>days to go</span>
                                </li>
                            </ul>
                        </div>    
                        <div class="project-share">
                            <ul class="list-inline comment-list-v2 pull-left">
                                <li><i class="fa fa-eye"></i> <a href="#">25</a></li>
                                <li><i class="fa fa-comments"></i> <a href="#">32</a></li>
                                <li><i class="fa fa-retweet"></i> <a href="#">77</a></li>
                            </ul>    
                            <ul class="list-inline star-vote pull-right">
                                <li><i class="color-green fa fa-star"></i></li>
                                <li><i class="color-green fa fa-star"></i></li>
                                <li><i class="color-green fa fa-star"></i></li>
                                <li><i class="color-green fa fa-star-half-o"></i></li>
                                <li><i class="color-green fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </div>

                    <% end %>
                </div><!--/end row-->
                <!--End Projects-->

                <hr>
                <% end %>
            </div>
        </div>
        <!-- End Project Content -->
    </div>
</div>
<% else %>
    <%= render 'noresults' %>
<% end %>

<!-- New Project Button -->
<a class="create-board" href="<%= new_project_path %>" style="z-index:1001;">
    <i class="icon-custom icon-lg rounded-x icon-bg-u glyphicon glyphicon-plus" style="line-height: 57px;font-size: 20px;" href="<%= new_notice_path %>"></i>
</a>
<!-- End New Project Button -->