<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Project Detail</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content"> 	
	<div class="row portfolio-item margin-bottom-50"> 

        <!-- Content Info -->        
        <div class="col-md-12">
        	<h2><%= @project.title %></h2>
            <p><%=h simple_format @project.description.html_safe %></p>
            <ul class="list-unstyled" style="margin-bottom:0px;">
            	<li><i class="fa fa-user color-green"></i> <%= @project.master.nickname %> / <%= @project.master.realname %></li>
            	<li><i class="fa fa-calendar color-green"></i> <%= @project.start_date.strftime("%Y.%m.%d") %> ~ <%= @project.end_date.strftime("%Y.%m.%d") %></li>
            	<!--<li><i class="fa fa-tags color-green"></i> Websites, Google, HTML5/CSS3</li>-->
            </ul>
            <ul class="list-inline star-vote" style="margin-left:0px;">
                <li style="font-size:14px;margin-right:10px;font-family:nanumbarunpenr;">난이도<li>
                <% if @project.rating5 %>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                <% elsif @project.rating4 %>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                <% elsif @project.rating3 %>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                <% elsif @project.rating2 %>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                <% elsif @project.rating1 %>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                <% end %>
            </ul>

            <% unless @project.joined?(current_user) %>
            <a href="<%= receive_project_path(@project) %>" class="btn-u btn-u-large">JOIN THE PROJECT</a>
            <% else %>
                <% if @project.unreceived.include?(current_user) %>
                    <br><h4>상태: 프로젝트 가입 승인대기 중입니다.</h4>
                <% else %>
                    <br><h4>상태: 프로젝트 멤버입니다.</h4>
                <% end %>
            <% end %>

            <% if current_user == @project.master %>
            <a href="<%= manage_project_path(@project) %>" class="btn-u btn-u-large btn-u-blue">MANAGE MEMBERS</a>
            <a href="<%= edit_project_path(@project) %>" class="btn-u btn-u-large btn-u-default">EDIT</a>
            <%= link_to "Delete", project_path(@project), data: { confirm: "Are you sure?" }, class: "btn-u btn-u-large btn-u-red" ,method: :delete %>
            <% end %>
        </div>
        <!-- End Content Info -->        
    </div><!--/row-->

    <div class="tag-box tag-box-v2">
        <p>"두 마리 토끼를 잡으려다 둘 다 놓친다" 라는 속담이 있듯이, 너무 많은 프로젝트에 참여는 오히려 제대로된 학습이 안될 수도 있습니다.</p>
    </div>

    <div class="margin-bottom-20 clearfix"></div>    

    <!-- Recent Works -->
    <div class="owl-carousel-v1 owl-work-v1 margin-bottom-40">
        <div class="headline"><h2 class="pull-left">Members</h2>
            <div class="owl-navigation">
                <div class="customNavigation">
                    <a class="owl-btn" style="visibility:hidden;"></a>
                    <a class="owl-btn" style="visibility:hidden;"></a>
                </div>
            </div><!--/navigation-->
        </div>

        <% @project.members.each_slice(6) do |members| %>
        <div class="row team-v6 margin-bottom-60">
            <% members.each do |member| %>
            <div class="col-md-2 col-sm-6 md-margin-bottom-50">
                <%= image_tag member.avatar.url, class: "img-responsive", style: "height:166px; width:166px;" %>
                <span><%= member.nickname %></span>
                <small><%= user_roles(member) %></small>
            </div>
            <% end %>
        </div><!--/end team v6-->

        <% end %>

    </div>    
    <!-- End Recent Works -->
</div><!--/container-->	 	
<!--=== End Content Part ===-->