<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Project Detail</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content"> 	
	<div class="row portfolio-item margin-bottom-50"> 

        <!-- Content Info -->        
        <div class="col-md-12">
        	<h2><%= @project.title %></h2>
            <p><%=h simple_format @project.description.html_safe %></p>
            <ul class="list-unstyled">
            	<li><i class="fa fa-user color-green"></i> <%= @project.master.nickname %> / <%= @project.master.realname %></li>
            	<li><i class="fa fa-calendar color-green"></i> <%= @project.start_date.strftime("%Y.%m.%d") %> ~ <%= @project.end_date.strftime("%Y.%m.%d") %></li>
            	<li><i class="fa fa-tags color-green"></i> Websites, Google, HTML5/CSS3</li>
            </ul>
            <a href="#" class="btn-u btn-u-large">JOIN THE PROJECT</a>
            <% if current_user == @project.master %>
            <a href="<%= edit_project_path(@project) %>" class="btn-u btn-u-large btn-u-default">EDIT</a>
            <a href="<%= edit_project_path(@project) %>" class="btn-u btn-u-large btn-u-red">DELETE</a>
            <% end %>
        </div>
        <!-- End Content Info -->        
    </div><!--/row-->

    <div class="tag-box tag-box-v2">
        <p>"두 마리 토끼를 잡으려다 둘 다 놓친다" 라는 속담이 있듯이, 너무 많은 프로젝트에 참여는 오히려 제대로된 학습이 안될 수도 있습니다.</p>
    </div>

    <div class="margin-bottom-20 clearfix"></div>    

    <!-- Recent Works -->
    <div class="owl-carousel-v1 owl-work-v1 margin-bottom-40">
        <div class="headline"><h2 class="pull-left">Members</h2>
            <div class="owl-navigation">
                <div class="customNavigation">
                    <a class="owl-btn" style="visibility:hidden;"></a>
                    <a class="owl-btn" style="visibility:hidden;"></a>
                </div>
            </div><!--/navigation-->
        </div>

        <div class="row team-v6 margin-bottom-60">
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="/assets/bootstrap/team/img6-md.jpg" alt="">
                <span>Marketing</span>
                <small>Graphic Designer</small>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="/assets/bootstrap/team/img4-md.jpg" alt="">
                <span>Sara Lisbon</span>
                <small>Community</small>
            </div>
            <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
                <img class="img-responsive" src="/assets/bootstrap/team/img2-md.jpg" alt="">
                <span>John Doe</span>
                <small>Support</small>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-responsive" src="/assets/bootstrap/team/img1-md.jpg" alt="">
                <span>Alice Williams</span>
                <small>Marketing</small>
            </div>
        </div><!--/end team v6-->

        <div class="row team-v6 margin-bottom-60">
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="/assets/bootstrap/team/img3-md.jpg" alt="">
                <span>Marketing</span>
                <small>Graphic Designer</small>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="/assets/bootstrap/team/img7-md.jpg" alt="">
                <span>Sara Lisbon</span>
                <small>Community</small>
            </div>
            <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
                <img class="img-responsive" src="/assets/bootstrap/team/img1-md.jpg" alt="">
                <span>John Doe</span>
                <small>Support</small>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-responsive" src="/assets/bootstrap/team/img5-md.jpg" alt="">
                <span>Alice Williams</span>
                <small>Marketing</small>
            </div>
        </div><!--/end team v6-->

    </div>    
    <!-- End Recent Works -->
</div><!--/container-->	 	
<!--=== End Content Part ===-->