<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Login</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="<%= root_path %>">Home</a></li>
            <li class="active">Login</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">   
  <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <%= form_for(resource, as: resource_name, html: { class: "reg-page" }, url: session_path(resource_name)) do |f| %>
                <div class="reg-header">            
                    <h2>Login to your account</h2>
                </div>

                <% if flash.present? %>
                    <% flash.each do |key, value|  %>
                        <li>
                            <% if value.eql? "Invalid uid or password." %>
                                <font color="red"><%= "아이디 혹은 비밀번호가 일치하지 않습니다." %></font>
                            <% else %>
                                <%= value %>
                            <% end %>
                        </li>
                    <% end %>
                    <br>
                <% end %>

                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <%= f.text_field :uid, class: "form-control", placeholder: "ID", autofocus: true %>
                </div>                    
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
                </div>                    

                <div class="row">
                    <div id="s_finger_login" class="col-md-8">
                    </div>
                    <div class="col-md-4 ladda-btn">
                        <button class="btn-u pull-right ladda-button" data-style="slide-down">Login</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 checkbox">
                        <label>
                          <% if devise_mapping.rememberable? -%>
                            <%= f.check_box :remember_me %> Stay signed in
                          <% end -%>
                        </label>                        
                    </div>
                </div>

                <hr>

                <h4>Not a member yet ?</h4>
                <p>please, <a class="color-green" href="<%= new_user_registration_path %>">click here</a> to join us.</p>

                <hr>

                <h4>Forget your Password ?</h4>
                <p>no worries, <a class="color-green" href="<%= new_password_path(resource_name) %>">click here</a> to reset your password.</p>
            <% end %>          
        </div>
    </div><!--/row-->
</div><!--/container-->   
<!--=== End Content Part ===-->

<script type="text/javascript">
    var s_finger_login = new s_finger_login("rm81FvNAQKo58MjWyRqU", "https://cert-is.ga/sfinger");
    // s_finger_login.setDomain(".service.com");
    s_finger_login.setState("abcdefghijkmnopqrst");
    // s_finger_login.setPopup();
    s_finger_login.setButton("blue",3,36);
    s_finger_login.init_s_finger_login();
</script>

