<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left"><%= @type.realname %></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Blog</a></li>
            <li class="active">Blog Item 2</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<% if @boards.present? %>
<!--=== Blog Posts ===-->
<div class="container content-md">
    <% @boards.each do |board| %>
    <!-- News v3 -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <% images = board.attachments.where("lower(contents_content_type) LIKE ?", "image%") %>
            <% images_count = images.count %>

            <% if images_count > 1 %>
                <div class="carousel slide" data-ride="carousel" id="blog-carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <% 0.upto(images_count - 1) do |i| %>
                        <li data-target="#blog-carousel" data-slide-to="<%= i %>" class="active rounded-x" style="border:1px solid #72c02c;"></li>
                        <% end %>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <% images.each_with_index do |image, index| %>
                        <div class="<%= index == 0 ? 'item active' : 'item' %>">
                            <%= image_tag image.contents.url, class: "img-responsive", style: "width: 457.5px;height: 289.156px;" %>
                        </div>
                        <% end %>
                    </div>
                </div>
            <% elsif images_count == 1 %>
                <%= image_tag images.first.contents.url, class: "img-responsive", style: "width: 457.5px;height: 289.156px;" %>
            <% else %>
                <img class="img-responsive" src="/assets/bootstrap/main/img12.jpg" alt="">
            <% end %>
            
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <ul class="list-inline posted-info">
                    <li>By <%= board.user.present? ? board.user.uid : "탈퇴회원" %></li>
                    <!-- <li>In <a href="#">Design</a></li> -->
                    <li>Posted <%= board.created_at.strftime("%B %-d, %Y") %></li>
                </ul>
                <h2>
                    <%= link_to board.title, { controller: controller.controller_name, action: "show", id: board } %>
                </h2>
                <p><%= truncate((strip_tags board.contents), length: 350, separator: ' ', escape: false) %></p>
                <ul class="post-shares">
                    <li>
                        <a href="/<%= board.board_type.name %>/<%= board.id %>#comments">
                            <i class="rounded-x icon-speech"></i>
                            <% if board.comments.present? %>
                                <span><%= board.comments.count %></span>
                            <% end %>
                        </a>
                    </li>
                    <li><a href="javascript:{};"><i class="rounded-x icon-share"></i></a></li>
                    <li id="likes_<%= board.id %>">
                        <% if current_user.like?(board) %>
                            <%= render 'unlike', board: board %>
                        <% else %>
                            <%= render 'like', board: board %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--/end row-->
    <!-- End News v3 -->

    <div class="clearfix margin-bottom-20"><hr></div>

    <% end %>

    <!-- Pager v3 -->
    <ul class="pager pager-v3 pager-md no-margin-bottom">
        <li class="previous">
            <%= link_to "&larr; Older".html_safe, { controller: controller.controller_name, action: "index", page: @page-1 } if @page > 1 %>
        </li>
        <li class="page-amount"><%= "#{@page} of #{@page_max}" %></li>
        <li class="next">
            <%= link_to "Newer &rarr;".html_safe, { controller: controller.controller_name, action: "index", page: @page+1 } if @page < @page_max %>
        </li>
    </ul>
    <!-- End Pager v3 -->
</div><!--/end container-->
<!--=== End Blog Posts ===-->

<% else %>

<!--=== Content Part ===-->
<div class="container content">     
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">
                <span class="error-v1-title">Empty</span>
                <span>검색 결과 없음!</span>
                <p>좌측 하단의 글쓰기 버튼을 통해 새 글을 작성해 주세요.</p>
                <a class="btn-u btn-bordered" href="<%= root_path %>">Back Home</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div>  
<!--=== End Content Part ===-->

<!--=== FAQ Content ===-->
<div class="container content-sm">
    <div class="row equal-height-columns margin-bottom-40">
        <div class="col-sm-4 no-space">
            <div class="easy-block-v3 equal-height-column first">
                <i class="fa fa-headphones"></i>
                <div class="inner-faq-b">
                    <h3>Contact Us</h3>
                    <h4>1(123) 456</h4>
                    <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
                </div>    
            </div>
        </div>    
        <div class="col-sm-4 no-space">
            <div class="easy-block-v3 equal-height-column second">
                <i class="icon-cursor"></i>
                <div class="inner-faq-b">
                    <h3>Email Us</h3>
                    <h4>contact@cert-is.kr</h4>
                    <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
                </div>    
            </div>
        </div>    
        <div class="col-sm-4 no-space">
            <div class="easy-block-v3 equal-height-column third">
                <i class="icon-support"></i>
                <div class="inner-faq-b">
                    <h3>Support</h3>
                    <h4>Technical Support</h4>
                    <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
                </div>    
            </div>
        </div>    
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- Google Map -->
            <div id="map" class="map">
            </div>
            <!-- End Google Map -->
        </div>
        <div class="col-md-6 col-sm-6">
            <!-- Business Hours -->
            <h3>Get In Touch</h3>
            <ul class="list-inline">
                <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                <li><strong>Saturday:</strong> 11am to 3pm</li>
                <li><strong>Sunday:</strong> Closed</li>
            </ul>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="name" placeholder="Name" class="form-control">
                    </div>    
                </div>
                <div class="col-sm-6">
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" placeholder="Email" class="form-control">
                    </div>    
                </div>
            </div>    
            
            <textarea rows="5" class="form-control margin-bottom-20" placeholder="Type your question here..."></textarea>
            <button class="btn-u btn-u-sm pull-right" type="button">Send question</button>
        </div>
    </div>
</div><!--/container-->
<!--=== End FAQ Content ===-->
<% end %>

<a class="create-board" href="<%= new_notice_path %>">
    <i class="icon-custom icon-lg rounded-x icon-bg-u glyphicon glyphicon-plus" style="line-height: 57px;font-size: 20px;" href="<%= new_notice_path %>"></i>
</a>