<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left"><%= @type.realname %></h1>
        <!--
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Blog</a></li>
            <li class="active">Blog Item 2</li>
        </ul>
        -->
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<% if @boards.present? %>
<!--=== Blog Posts ===-->
<div class="container content-md">
    <% @boards.each do |board| %>
    <!-- News v3 -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <% images = board.attachments.where("lower(contents_content_type) LIKE ?", "image%") %>
            <% images_count = images.count %>

            <% if images_count > 1 %>
                <div class="carousel slide" data-ride="carousel" id="blog-carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <% 0.upto(images_count - 1) do |i| %>
                        <li data-target="#blog-carousel" data-slide-to="<%= i %>" class="active rounded-x" style="border:1px solid #72c02c;"></li>
                        <% end %>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <% images.each_with_index do |image, index| %>
                        <div class="<%= index == 0 ? 'item active' : 'item' %>">
                            <%= image_tag image.contents.url, class: "img-responsive", style: "width: 457.5px;height: 289.156px;" %>
                        </div>
                        <% end %>
                    </div>
                </div>
            <% elsif images_count == 1 %>
                <%= image_tag images.first.contents.url, class: "img-responsive", style: "width: 457.5px;height: 289.156px;" %>
            <% else %>
                <img class="img-responsive" src="/assets/bootstrap/main/img12.jpg" alt="">
            <% end %>
            
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <ul class="list-inline posted-info">
                    <li>By <%= board.user.present? ? board.user.uid : "탈퇴회원" %></li>
                    <!-- <li>In <a href="#">Design</a></li> -->
                    <li>Posted <%= board.created_at.strftime("%B %-d, %Y") %></li>
                </ul>
                <h2>
                    <%= link_to truncate(board.title, length: 30), { controller: controller.controller_name, action: "show", id: board } %>
                </h2>
                <p><%= truncate((strip_tags board.contents), length: 350, escape: false) %></p>
                <ul class="post-shares">
                    <li>
                        <a href="/<%= board.board_type.name %>/<%= board.id %>#comments">
                            <i class="rounded-x icon-speech"></i>
                            <% if board.comments.present? %>
                                <span><%= board.comments.count %></span>
                            <% end %>
                        </a>
                    </li>
                    <li><a href="javascript:{};"><i class="rounded-x icon-share"></i></a></li>
                    <li id="likes_<%= board.id %>">
                        <% if current_user.like?(board) %>
                            <%= render 'unlike', board: board %>
                        <% else %>
                            <%= render 'like', board: board %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--/end row-->
    <!-- End News v3 -->

    <div class="clearfix margin-bottom-20"><hr></div>

    <% end %>

    <% if @boards.present? %>
    <!-- Pager v3 -->
    <ul class="pager pager-v3 pager-md no-margin-bottom">
        <li class="previous">
            <%= link_to "&larr; Older".html_safe, { controller: controller.controller_name, action: "index", page: @page-1 } if @page > 1 %>
        </li>
        <li class="page-amount"><%= "#{@page} of #{@page_max}" %></li>
        <li class="next">
            <%= link_to "Newer &rarr;".html_safe, { controller: controller.controller_name, action: "index", page: @page+1 } if @page < @page_max %>
        </li>
    </ul>
    <!-- End Pager v3 -->
    <% end %>
</div><!--/end container-->
<!--=== End Blog Posts ===-->

<% else %>

<%= render 'noresults' %>

<% end %>

<a class="create-board" href="/<%= @type.name %>/new" style="z-index:1001;">
    <i class="icon-custom icon-lg rounded-x icon-bg-u glyphicon glyphicon-plus" style="line-height: 57px;font-size: 20px;" href="<%= new_notice_path %>"></i>
</a>