<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Blog Item 2</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Blog</a></li>
            <li class="active">Blog Item 2</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Blog Posts ===-->
<div class="container content-md">
    <% @boards.each do |board| %>
    <!-- News v3 -->
    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <% images = board.attachments.where("lower(contents_content_type) LIKE ?", "image%") %>
            <% images_count = images.count %>

            <% if images_count > 1 %>
                <div class="carousel slide" data-ride="carousel" id="blog-carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <% 0.upto(images_count - 1) do |i| %>
                        <li data-target="#blog-carousel" data-slide-to="<%= i %>" class="active rounded-x" style="border:1px solid #72c02c;"></li>
                        <% end %>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <% images.each_with_index do |image, index| %>
                        <div class="<%= index == 0 ? 'item active' : 'item' %>">
                            <%= image_tag image.contents.url %>
                        </div>
                        <% end %>
                    </div>
                </div>
            <% elsif images_count == 1 %>
                <%= image_tag images.first.contents.url, class: "img-responsive" %>
            <% else %>
                <img class="img-responsive" src="/assets/bootstrap/main/img12.jpg" alt="">
            <% end %>
            
        </div>
        <div class="col-sm-7">
            <div class="news-v3">
                <ul class="list-inline posted-info">
                    <li>By <%= board.user.uid %></li>
                    <!-- <li>In <a href="#">Design</a></li> -->
                    <li>Posted <%= board.created_at.strftime("%B %-m, %Y")%></li>
                </ul>
                <h2><a href="#"><%= board.title %></a></h2>
                <p><%= truncate((strip_tags board.contents), length: 350, separator: ' ', escape: false) %></p>
                <ul class="post-shares">
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-speech"></i>
                            <span>5</span>
                        </a>
                    </li>
                    <li><a href="#"><i class="rounded-x icon-share"></i></a></li>
                    <li><a href="#"><i class="rounded-x icon-heart"></i></a></li>
                </ul>
            </div>
        </div>
    </div><!--/end row-->
    <!-- End News v3 -->

    <div class="clearfix margin-bottom-20"><hr></div>

    <% end %>

    <!-- Pager v3 -->
    <ul class="pager pager-v3 pager-md no-margin-bottom">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li class="page-amount">1 of 7</li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
    <!-- End Pager v3 -->
</div><!--/end container-->
<!--=== End Blog Posts ===-->

<a class="create-board" href="<%= new_notice_path %>">
    <i class="icon-custom icon-lg rounded-x icon-bg-u glyphicon glyphicon-plus" style="line-height: 57px;font-size: 20px;" href="<%= new_notice_path %>"></i>
</a>