<!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="<%= root_path %>">
                <img src="/assets/bootstrap/logo1-default.png" alt="Logo">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <% if user_signed_in? %>
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>SiteMap</a>
                        <ul class="languages hoverSelectorBlock">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a> 
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>   
                    <li><a href="page_faq.html">Report</a></li>  
                    <li class="topbar-devider"></li>
                        <li class="hoverSelector">
                            <a><%= current_user.realname %></a>
                            <ul class="languages hoverSelectorBlock">
                                <li><a href="<%= user_path(current_user.uid) %>">Profile</a> </li>
                                <li><a href="#">Settings</a></li>
                                <li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "정말 로그아웃 하시겠습니까?" } %></li>
                            </ul>
                        </li> 
                    <% else %>
                        <li><a href="<%= new_user_session_path %>">Login</a></li>
                        <li class="topbar-devider"></li>
                        <li><a href="<%= new_user_registration_path %>">SignUp</a></li>
                    <% end %>
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">

                    <!-- 회원일 경우 -->
                    <% if user_signed_in? %>
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            CERT-IS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">소개</a></li>
                            <li><a href="<%= members_path %>">회원 목록</a></li>
                            <li><a href="#">파트너십</a></li>
                        </ul>
                    </li>
                     
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Notice
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= notices_path %>">공지사항</a></li>
                            <li><a href="#">일정표</a></li>
                            <li><a href="#">정보게시판</a></li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">도서</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">도서목록</a></li>
                                    <li><a href="#">도서대여</a></li>
                                    <li><a href="#">도서신청</a></li>
                                </ul>                                
                            </li>
                        </ul>    
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Community
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">자유게시판</a></li>
                            <li><a href="#">한줄게시판</a></li>
                            <li><a href="#">후기게시판</a></li>                            
                            <li><a href="#">족보게시판</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Data
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">사진첩</a></li>
                            <li><a href="#">정기 발표자료</a></li>
                            <li><a href="#">공문자료</a></li>
                            <li><a href="#">블로그</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Team
                        </a> 
                    </li>

                     <li>
                        <a href="<%= contact_path %>">
                            Contact
                        </a> 
                    </li>

                    <% if current_user.operator? %>
                        <li>
                            <a href="<%= admin_membership_path %>">
                                Admin
                            </a> 
                        </li>
                    <% end %>                     

                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>    
                    </li>
                    <!-- End Search Block -->

                    <% else %>
                    <!-- 비회원일 경우 -->

                    <li>
                        <a href="javascript:void(0);">
                            About
                        </a> 
                    </li>

                    <li>
                        <a href="<%= members_path %>">
                            Members
                        </a> 
                    </li>

                    <li>
                        <a href="javascript:void(0);">
                            Partership
                        </a> 
                    </li>

                    <li>
                        <a href="<%= contact_path %>">
                            Contact
                        </a> 
                    </li>                     


                    <% end %>

                   
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->