<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="ko"> <!--<![endif]--> 
<head>
  <title>CERT-IS</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/bootstrap/certis.ico">

  <!-- Web Fonts -->
  <!-- <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'> -->
  <!--[if lt IE 9]><link rel="stylesheet" href="/assets/bootstrap/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/analytics'%>
  <div class="wrapper">
	  <%= render 'layouts/header' %>
	  <%= yield %>
	  <%= render 'layouts/footer' %>
  </div>
  <script type="text/javascript">
    // Bind normal buttons
    Ladda.bind( '.ladda-btn button', { timeout: 2000 } );

    // Bind progress buttons and simulate loading progress
    Ladda.bind( '.ladda-btn button', {
        callback: function( instance ) {
            var progress = 0;
            var interval = setInterval( function() {
                progress = Math.min( progress + Math.random() * 0.1, 1 );
                instance.setProgress( progress );

                if( progress === 1 ) {
                    instance.stop();
                    clearInterval( interval );
                }
            }, 200 );
        }
    } );
  </script>
  <!--[if lt IE 9]>
    <script src="/assets/bootstrap/respond.js"></script>
    <script src="/assets/bootstrap/html5shiv.js"></script>
    <script src="/assets/bootstrap/placeholder-IE-fixes.js"></script>
    <script src="/assets/bootstrap/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
  <![endif]-->
</body>
</html>
